.root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  background: #020617;
}

.aside {
  width: 100px;
  height: 100%;
  border-inline-end: 1px solid #1f2437;

  & > .logo {
    padding: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #1f2437;

    & > img {
      transition: transform 300ms, filter 200ms;
    }

    &:hover > img {
      transform: translateY(-5px) rotate(-10deg) scale(1.05);
      filter: drop-shadow(-3px 3px 10px #3167f2);
    }
  }

  & > .navigation {
    margin-top: 143px;
    display: flex;
    gap: 34px;
    flex-direction: column;
  }
}

.navbutton {
  position: relative;
  width: 100%;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7d849f;

  &--active {
    color: #fff;
  }

  & > marker {
    position: absolute;
    right: -1px;
    width: 2px;
    height: 100%;
    border-radius: 2px;
    background: #fff;
  }
}

.header {
}

.page {
}
