.widget {
  box-sizing: border-box;
  padding: 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #020617;
  overflow: hidden;
}

.header {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
  }

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Inter;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow: auto;

  &.scrollable {
    padding-right: 10px;
  }
}

.card {
  --color: #000;
  padding: 20px;
  display: grid;
  grid-template-areas:
    "title toggle"
    "timeline toggle";
  gap: 0px 10px;
  color: var(--color);
  background: rgb(from var(--color) r g b / 10%);
  border-radius: 20px;

  & > h1 {
    grid-area: title;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > h2 {
    grid-area: timeline;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
  }

  & > :nth-child(3) {
    grid-area: toggle;
  }
}
