@import "src/styles/mixins";

.widget {
  box-sizing: border-box;
  padding: 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #020617;
  overflow: hidden;
}

.header {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
  }

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Inter;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.container {
  flex-grow: 1;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow: auto;

  &.scrollable {
    padding-right: 10px;
  }

  @include webkitScrollbar(#020617);
}

.blankslate {
  margin: auto 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;

  & > :nth-child(1) {
    flex-shrink: 0;
    opacity: 0.5;
    color: #020617;
  }

  & > :nth-child(2) {
    flex-shrink: 0;
    width: 187px;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color: rgba(#020617, 0.75);
  }
}

.card {
  $stagger: 600ms;
  --color: #000;
  --index: 0;
  padding: 20px;
  display: grid;
  grid-template-areas:
    "title toggle"
    "timeline toggle";
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0px 10px;
  color: var(--color);
  background: rgb(from var(--color) r g b / 10%);
  border-radius: 20px;
  animation: fadeIn $stagger forwards;
  animation-delay: calc($stagger * var(--index) / 8);

  &.removing {
    animation: fadeOut 800ms forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-5px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      margin-top: 0;
    }
    to {
      opacity: 0;
      margin-top: -112px;
    }
  }

  & > h1 {
    grid-area: title;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > h2 {
    grid-area: timeline;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
  }

  & > :nth-child(3) {
    grid-area: toggle;
  }
}
