.widget {
  box-sizing: border-box;
  padding: 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > h1 {
    color: #020617;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: start;
  }

  .circle {
    align-self: center;
    margin: auto 0;
    width: fit-content;
    height: fit-content;
    display: flex;

    & > svg {
      animation: zoom-in 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  
      @keyframes zoom-in {
        from{
          scale: 0;
          rotate: -45deg;
          opacity: 0;
        }
        to{
          scale: 1;
          rotate: 0;
          opacity: 1;
        }
      }
    }
  }

  .button {
    margin-top: auto;
    width: 100%;
  }
}

.arc {
  transition: stroke-width 80ms linear;

  &:hover {
    stroke-width: 12px;
    cursor: help;
  }
}
